{
	"version": "3",
	"api": {
		"name": "NAME API",
		"mode": "production",
		"production": {
			"ip": "0.0.0.0",
			"port": 8000
		},
		"development": {
			"ip": "127.0.0.1",
			"port": 8002
		}
	},
	"database": {
		"name": "database",
		"debug": false
	},
	"security": {
		"username": "admin",
		"full_name": "Administrateur",
		"email": "email@example.com",
		"password": "votre_mot_de_passe_securise"
	},
	"oauth2": {
		"client_id": "your_client_id_here",
		"client_secret": "your_client_secret_here",
		"discord": {
			"client_id": "your_discord_application_id",
			"client_secret": "your_discord_client_secret",
			"redirect_uri": "https://tetrago.fr/auth/discord/callback"
		},
		"microsoft": {
			"client_id": "your_azure_application_id",
			"client_secret": "your_azure_client_secret",
			"redirect_uri": "https://tetrago.fr/auth/microsoft/callback"
		}
	},
	"platforms": {
		"local": {
			"name": "local",
			"key": "API SECURITY KEY"
		},
		"discord": {
			"token": "DISCORD TOKEN",
			"guild_id": 1234567890987654321,
			"site_url": "https://tetrago.fr",
			"channels": {
				"guerres": 1234567890987654321
			}
		},
		"monde": {
			"key": "CLE DU GENERATEUR DE CARTES"
		}
	}
}
