{
	"api": {
		"mode": "development",
		"development": {
			"ip": "127.0.0.1",
			"port": 8002
		}
	},
	"database": {
		"name": "ShardDB-dev",
		"debug": true
	},
	"oauth2": {
		"discord": {
			"redirect_uri": "http://localhost:5173/auth/discord/callback"
		},
		"microsoft": {
			"redirect_uri": "http://127.0.0.1:5173/auth/microsoft/callback"
		}
	}
}
