{
	"version": "2",
	"api": {
		"platform": "PLATFORM NAME API",
		"name": "NAME API",
		"version": "VERSION",
		"ip": "0.0.0.0",
		"key": "API SECURITY KEY"
	},
	"database": "database",
	"security": {
		"username": "admin",
		"full_name": "Admin",
		"password": "admin"
	},
	"discord": {
		"token": "YOUR_DISCORD_BOT_TOKEN",
		"guild_id": 123456789
	}
}
