{
	"api": {
		"mode": "development",
		"development": {
			"ip": "127.0.0.1",
			"port": 8002
		}
	},
	"database": {
		"name": "ShardDB-dev",
		"debug": true
	},
	"oauth2": {
		"client_id": "your_client_id_here",
		"client_secret": "your_client_secret_here",
		"discord": {
			"client_id": "your_discord_application_id",
			"client_secret": "your_discord_client_secret",
			"redirect_uri": "http://localhost:5173/auth/discord/callback"
		},
		"microsoft": {
			"client_id": "your_azure_application_id",
			"client_secret": "your_azure_client_secret",
			"redirect_uri": "http://127.0.0.1:5173/auth/microsoft/callback"
		}
	}
}
