<!DOCTYPE html>
<html>
	<!--=======================-->
	<!--====== HTML HEAD ======-->
	<!--=======================-->
	<head>
		<meta name="author" content="Azerxim">
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
		<meta name="description" content="{{ api }} - Erreur"/>
		<meta name="keywords" content=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex, nofollow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="language" content="French">
		<link rel="shortcut icon" href="{{url_for('assets',path='/images/favicon.ico')}}"/>

        <title>{{ api }} - Erreur</title>

        {% include 'components/css.html' %}
        {% include 'components/scripts.html' %}

    </head>
    <body>
        
        {% include 'components/navigation/navbar.html' %}

        <div class="flex flex-col items-center justify-center gap-5 text-black w-full m-5">
            <div class="flex flex-row flex-wrap items-center gap-5">
                <i class="fa-solid fa-triangle-exclamation fa-beat fa-2xl"></i>
                <h1 class="text-5xl font-bold">Erreur</h1>
            </div>
            <img src="https://dl.topazdev.fr/stock/draws/undraw/undraw_alert_re_j2op.svg" alt="404 Not Found"/>
            <h3 class="text-2xl">{{ text }}</h3>
        </div>

        {% include 'components/layouts/footer.html' %}

    </body>
</html>