<!DOCTYPE html>
<html>
	<!--=======================-->
	<!--====== HTML HEAD ======-->
	<!--=======================-->
	<head>
		<meta name="author" content="Azerxim">
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
		<meta name="description" content="Spinelle Auth"/>
		<meta name="keywords" content=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex, nofollow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="language" content="French">
		<link rel="shortcut icon" href="{{url_for('assets',path='/images/favicon.ico')}}"/>

        <title>Spinelle Auth</title>

        {% include 'modules/css.html' %}
        {% include 'modules/scripts.html' %}

    </head>
    <body>
        
        {% include 'modules/menu.html' %}

        <div class="container">
            <div class="content is-medium flex fd-col gap-10" style="margin-top: 3em;">
                {% for user in users %}
                <a href="/html/user/read/{{user.id}}" class="flex fd-col gap-5 bg-smoothwhite ultradarkblue" style="border-radius: 20px; padding: 20px;">
                    <div class="flex-center-vertical fd-row gap-10 jc-sb">
                        <div class="flex-center-vertical fd-row fw-on gap-10">
                            <img src="{{ user.image_url }}" alt="Image de profil" onerror="this.src='//topazdev.fr/images/profil_white.png'" class="bg-ultradarkblue" style="width: 50px; border-radius: 50%; margin: 5px 0px;"/>
                            <span>{{ user.full_name }}</span>
                        </div>
                        <div class="flex-center-vertical fd-row fw-on gap-10">
                            <i class="fa-regular fa-calendar"></i>
                            <span>{{ user.arrival }}</span>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>

        {% include 'modules/footer.html' %}

    </body>
</html>