<!DOCTYPE html>
<html>
	<!--=======================-->
	<!--====== HTML HEAD ======-->
	<!--=======================-->
	<head>
		<meta name="author" content="Azerxim">
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
		<meta name="description" content="{{ api }} - Utilisateurs"/>
		<meta name="keywords" content=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex, nofollow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="language" content="French">
		<link rel="shortcut icon" href="{{url_for('assets',path='/images/favicon.ico')}}"/>

        <title>{{ api }} - Utilisateurs</title>

        {% include 'components/css.html' %}
        {% include 'components/scripts.html' %}

    </head>
    <body>
        
        {% include 'components/navigation/navbar.html' %}

        <div class="container mx-auto px-4">
            <div class="prose prose-lg max-w-none flex flex-col gap-2.5 mt-12">
                {% for user in users %}
                <a href="/html/user/read/{{user.id}}" class="flex flex-col gap-1.5 bg-gray-50 text-black rounded-2xl p-5">
                    <div class="flex flex-row items-center gap-2.5 justify-between">
                        <div class="flex flex-row flex-wrap items-center gap-2.5">
                            <img src="{{ user.image_url }}" alt="Image de profil" onerror="this.src='/assets/images/profil_white.png'" class="bg-blue-900 w-12 rounded-full my-1"/>
                            <span>{{ user.pseudo }}</span>
                        </div>
                        <div class="flex flex-row flex-wrap items-center gap-2.5">
                            <i class="fa-regular fa-calendar"></i>
                            <span>{{ user.arrival }}</span>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>

        {% include 'components/layouts/footer.html' %}

    </body>
</html>