<!DOCTYPE html>
<html>
	<!--=======================-->
	<!--====== HTML HEAD ======-->
	<!--=======================-->
	<head>
		<meta name="author" content="Azerxim">
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
		<meta name="description" content="{{ api }}"/>
		<meta name="keywords" content=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex, nofollow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="language" content="French">
		<link rel="shortcut icon" href="{{url_for('assets',path='/images/favicon.ico')}}"/>

        <title>{{ api }}</title>

        {% include 'modules/css.html' %}
        {% include 'modules/scripts.html' %}

    </head>
    <body>

        {% include 'modules/menu.html' %}
        <div class="container">
            <div class="content is-medium">
                <div class="flex-center-full fd-col gap-40" style="padding: 10px;">
                    <div class="flex-center-full fd-col gap-10">
                        <h1 class="is-size-1">{{ api }}</h1>
                        <!-- <img src="/assets/images/galaxie.png" alt="logo"/> -->
                        <span class="is-size-2">Version {{ version }}</span>
                    </div>
                    
                    <a href="/html/users/read/" class="button is-TD-ultradarkblue" style="width: 100%;">
                        <span>Liste des utilisateurs</span>
                    </a>
                </div>
            </div>
        </div>

        {% include 'modules/footer.html' %}

    </body>
</html>