<!DOCTYPE html>
<html>
	<!--=======================-->
	<!--====== HTML HEAD ======-->
	<!--=======================-->
	<head>
		<meta name="author" content="Azerxim">
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
		<meta name="description" content="Spinelle Auth"/>
		<meta name="keywords" content=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex, nofollow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="language" content="French">
		<link rel="shortcut icon" href="//spinelle.eu/images/favicon.ico"/>

        <title>Spinelle Auth</title>

        <!--====== Style CSS ======-->
        <link rel="stylesheet" href="https://css.topazdev.fr/v7/main.css">
        <link rel="stylesheet" href="https://css.topazdev.fr/v7/display.css">
        <link rel="stylesheet" href="https://css.topazdev.fr/v7/colors.css">
        <link rel="stylesheet" href="https://css.topazdev.fr/v7/responsive.css">
        <link rel="stylesheet" href="https://css.topazdev.fr/v7/msgbox.css">
        <link rel="stylesheet" href="https://css.topazdev.fr/v7/markdown.css">

        <link rel="stylesheet" href="https://css.topazdev.fr/v7/bulma.td.css">

        <link rel="stylesheet" href="https://css.topazdev.fr/v7/fontawesome/css/all.css">
        <script defer src="https://css.topazdev.fr/v7/fontawesome/js/all.js"></script>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://www.jsdelivr.com/package/npm/@creativebulma/bulma-tagsinput/dist/js/bulma-tagsinput.min.js"></script>

        <script src="https://www.topazdev.fr/modules/script/bt-apparition.js"></script>
        <script src="https://www.topazdev.fr/modules/script/bt-apparition-class.js"></script>
        <script src="https://www.topazdev.fr/modules/script/notif-delete.js"></script>

    </head>
    <body>

        {% include 'menu/general.html' %}
        <div class="container">
            <div class="content is-medium">
                <div class="flex-center-full fd-col gap-20" style="padding: 10px;">
                    <div class="flex-center-full fd-col gap-10">
                        <h1 class="is-size-1">{{ api }}</h1>
                        <img src="https://dl.topazdev.fr/stock/images/web/galaxie.png" alt="logo"/>
                        <span class="is-size-2">{{ version }}</span>
                    </div>
                    
                    <a href="/html/users/read/" class="button is-TD-ultradarkblue" style="width: 100%;">
                        <span>Liste des utilisateurs</span>
                    </a>
                </div>
            </div>
        </div>

        {% include 'menu/footer.html' %}

    </body>
</html>