<footer class="footer sm:footer-horizontal bg-slate-100 text-base-content items-center p-4">
  <aside class="grid-flow-col items-center">
    <img src="/assets/images/galaxie.png" alt="logo" width="24" height="24" />
	<p>
		<span class='flex items-center gap-2'>
			<strong>Spinelle Galaxie</strong>
			<i class="far fa-copyright"></i>
			<span id="HTMLyear">2025</span>
			<span>|</span>
			<span>Tout droits réservés</span>
			<span>|</span>
			<span>Version: {{ version }}</span>
		</span>
	</p>
  </aside>
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <a href="https://discord.gg/nUFwE9S" target="_blank" rel="noopener noreferrer">
		<i class="fab fa-discord fa-xl"></i>
	</a>
	<a href="https://github.com/Azerxim" target="_blank" rel="noopener noreferrer">
		<i class="fab fa-github fa-xl"></i>
	</a>
  </nav>
</footer>

<script>
	const year = new Date().getFullYear();
	const HTMLyear = document.getElementById("HTMLyear");
	if (HTMLyear) {
		HTMLyear.innerText = year;
		if (year !== 2025) {
			HTMLyear.innerText = `2025 - ${year}`;
		}
	}
</script>